.button
{
-fx-background-color : #2D4578;
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : rgba(29, 39, 148, 0.63);
}
.button:pressed
{
-fx-background-color : #1620A1;
}

.combo-box{
    -fx-border-color:#E6E6E6;
    -fx-border-style:solid;
    -fx-border-width:1;
}
.combo-box .arrow{
    -fx-background-color:#1620A1;
}
.combo-box .arrow-button{
    -fx-background-color:white;
    -fx-border-style:none;
}
.combo-box .arrow-button{
    -fx-background-color:white;
}
.combo-box .list-cell{
    -fx-background-color:white;
}

.menu-button,
    .choice-box,
    .combo-box-base,
    .split-menu-button {
        arrow_color: white;
    }
/* .scroll-pane{
    -fx-background-color:transparent;
 }

 .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.head-background
{
    -fx-background-c: linear-gradient(to left,#795AF3 ,#3929E0);
}

.button
{
-fx-background-color : #2D4578;
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : rgba(48, 62, 214, 0.596);
}
.button:pressed
{
-fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,

.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
} */

